//smartphones
@include mediaSm {
    #header-name{
        font-size: 1.2rem;
        top: 20px;
    }
    #name{
        font-size: 3.5rem;
    }
    #button-row .button{
        width: 130px;
        height: 45px;
    }
    footer p{
        font-size: 0.8rem;
    }

}

//small laptops and tablets
@include mediaMd {
    header{
        #nav {
            position: fixed;
            top: 3rem;
            right: 4rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; 
            -webkit-box-pack: space-evenly; 
                -ms-flex-pack: space-evenly; 
                    justify-content: space-evenly;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 180px;
            height: 250px;
            z-index: 3;
            background-color: $nav-scroll-footer; 
            visibility: hidden;
            border: solid $secondary-color 3px;
            border-radius: 10px;
            &.show{
                visibility: visible;
                @include easeOut;
            }
        }
        .menu-btn{
            position: fixed;
            top: 22px;
            right: 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            cursor: pointer;
            @include easeOut;
            z-index: 1;
            
    
            .btn-line{
                width: 28px;
                height: 3px;
                margin: 0 0 5px 0;
                @include easeOut;
                background-color: #fff;
            }
            &.close{
                -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                top: 18px;
        
                .btn-line{
                    &:nth-child(1){
                        -webkit-transform: rotate(45deg) translate(5px, 4px);
                            -ms-transform: rotate(45deg) translate(5px, 4px);
                                transform: rotate(45deg) translate(5px, 4px)
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        -webkit-transform: rotate(-45deg) translate(7px, -6px);
                            -ms-transform: rotate(-45deg) translate(7px, -6px);
                                transform: rotate(-45deg) translate(7px, -6px)
                    
                    }
                }
            }
        }
        &.scroll{
            nav{
                top: 5rem;    
            }
            h2{
                font-size: 1.5rem;
                width: 50%;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;    
            }
        }     
    }

    section:nth-of-type(2){
        padding: 20px 0px;
    }
    section:nth-of-type(3){
        padding: 20px 0px;
    }
    #about .grid{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        

            .image-container{
                width: 200px;
                height: 200px;
                margin-right: 0;
                margin-top: -2rem;
            }
            .about{
                width: 100%;

                p{
                    font-size: 1.2rem;
                    margin-top: 2rem;
                    text-align: center;  
                }
            }
            #toolbox{
                width: 100%;
                margin-bottom: 2rem;
                li{
                    font-size: 1rem;
                    .tool-name{
                        font-size: 1.2rem;
                    }
                }
            }
            
        }
    }
    




