$primary-color:rgb(76, 66, 92);
$secondary-color:rgb(130, 216, 216);
$third-color: rgb(24, 51, 13);
$nav-scroll-footer: rgb(61, 53, 74);
//$hero-image: url(../dist/img/background.jpg);

html{scroll-behavior:smooth}

@mixin easeOut {
    transition: all 0.6s ease-out; 
}

@mixin sectionHeading {
    h2 {
        font-family: 'Patua One', cursive;
        font-size: 3rem;
        margin: 2rem 0;
        color: $third-color;

        span{
            color: $secondary-color;
        }

    }
}


/*General styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: normal 16px sans-serif;
    color: $primary-color;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;

    
}

header {
    font-family: 'Poppins', sans-serif;
    position: fixed; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    z-index: 1;
    text-transform: uppercase;

    #header-name {
        position: absolute;
        left: 15px;
        visibility: hidden;
        color: white;
        font-size: 1 rem;

        span{
            color: $secondary-color;
        }
    }
    
    
    nav {  
        
        width: 30%;
        display: flex;
        justify-content: space-around;
        margin-left: 20rem;
        list-style: none;
        
        
        a{
            color: #fff;
            
            text-decoration: none;
            &.active{
                color: $secondary-color;
            }
            
            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
        
    } 

    &.scroll {
        background-color: $nav-scroll-footer;
    }
    

}



@media (max-width: 935px) {
    header{
        nav {
            position: fixed;
            top: 1rem;
            right: 3rem;
            display: flex; 
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            width: 200px;
            height: 250px;
            z-index: 3;
            background-color: $nav-scroll-footer; 
            visibility: hidden;
            border: solid $secondary-color 3px;
            border-radius: 10px;
            &.show{
                visibility: visible;
                @include easeOut;
            }
        }
        .menu-btn{
            position: fixed;
            top: 22px;
            right: 25px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            @include easeOut;
            z-index: 1;
            
    
            .btn-line{
                width: 28px;
                height: 3px;
                margin: 0 0 5px 0;
                @include easeOut;
                background-color: #fff;
            }
            &.close{
                transform: rotate(180deg);
                top: 18px;
        
                .btn-line{
                    &:nth-child(1){
                        transform: rotate(45deg) translate(5px, 4px)
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg) translate(7px, -6px)
                    
                    }
                }
            }
        }
        &.scroll{
            nav{
                top: 5rem;    
            }
            h2{
                font-size: 1.5rem;
                width: 50%;
                justify-content: flex-start;    
            }
        }     
    }
}

@media (max-width: 576px){
    header.scroll h2{
        font-size: 1.2rem;
        top: 20px;
    }
}

/*Hero section*/
.hero{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
    width: 100%;
   

    .hero-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-size: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        background-color: rgba($primary-color, 0.8);    
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .moving-name {
            font-family: 'Patua One', cursive;
            font-size: 4.5rem;
            letter-spacing: 3px;
            margin-bottom: 0.5rem;
            span{
                color: $secondary-color;
            }
            &.name-header{
                &.scroll1{
                    animation: animatedNameOnScroll;
                    animation-duration: 3s;
                    animation-fill-mode: forwards;
                }     
            }
        }
        h2{
            font-family: 'Poppins', sans-serif;
            font-size: 2.5rem;    
        }
        .contacts {
            display: flex;
            justify-content: space-around;
            width: 70%;
            margin-top: 3rem;
    
            a{
                text-decoration: none;
                i{
                    color: white;
                    display: flex;
                    justify-content: center;
    
                    &:hover{
                        color: $secondary-color;
                        @include easeOut;
                    }
                    
                }
            }        
            
        }
        .button-row{
            //height: 30%;
            width: 100%;
            //border: 1px red solid;
            margin: 10rem auto 0 auto;
            display: flex;
            justify-content: space-between;
            //flex-direction: row;
            align-items: center;
            .button{
                width: 150px;
                height: 50px;
                border: thin white solid;
                border-radius: 20px;
                text-align: center;
                padding-top: 13px;
                text-decoration: none;
                animation: button;
                animation-delay: 0.2s;
                animation-duration: 3s;
                animation-fill-mode: forwards;
                &:hover{
                    border: 2px $secondary-color solid;
                    transform: scale(1.2) perspective(1px);
                    transition: all 0.5s ease;
                }

                @keyframes button{
                    0% {opacity: 0}
                    100% {opacity: 1}
                }
                 


            }
        }
        
    } 

    a{
        color: #fff;

        &:hover{
            color: $secondary-color;
            @include easeOut;
        }
    }
}
@media (max-width: 576px){
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hero-content{
            h2{
                width: 100%;
                font-size: 1.5rem;
            }   
        }
    } 
}





/*About me section*/
.about-me{
    padding-top: 2rem;

    @include sectionHeading;

    .grid{
        font-family: 'Poppins', sans-serif;
        width: 80%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;
        
        .image-container{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2rem;


            .image{
                width: 11rem;
                height: 12rem;
                border-radius: 5%;
                border: solid 3px $secondary-color;
            }
            
        }
        .about{
            
            width: 60%;
            p{
                color: $third-color;
                line-height: 1.5;
                font-size: 1.5rem;
            }
        }
        .toolbox-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 65%;
            /*height: 22rem;*/
            border: thin solid rgba(51,122,183,.1);
            box-shadow: 0 12px 12px 0 #d3d3d3;
            font-size: 1.2rem;
            margin-top: 2rem;
            padding: 0 1.2rem 1.2rem 1.2rem;

            h3 {
                width: 100%;
                border-bottom: 2px solid #0a0a0a;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                font-size: 1.5rem;
                padding-bottom: 10px;
                
            }
            
            li{
                list-style: none;
                margin-bottom: 0.8rem;
                .tool-name{
                    font-weight: 900;
                    font-size: 1.3rem;
                }
            }
            
            
        }
    }
}

/*My work*/

.my-projects{
    padding-top: 2rem;
    background-color:#f6f6f6;
    @include sectionHeading;

    .projects-container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2rem;
    
            


        .single-card{
            width: 320px;
            height: 420px;
            display: block;
            margin-bottom: 40px;
            text-align: left;
            border: thin solid rgba(51,122,183,.1);
            border-radius: 5px;
            box-shadow: 0 12px 12px 0 #d3d3d3;
            box-sizing: border-box;
            background-color: #fff;
            text-decoration: none;

            .project-image{
                height: 50%;
                width: 100%;
                overflow: hidden;
            }
            .divider{
                height: 2%;
                width: 100%;
                background-color: $secondary-color;

            }
            .project-info{
                padding: 15px;
                width: 100%;
                height: 50%;
                font-family: 'Poppins', sans-serif;
                color: black;
                h4{
                    font-size: 25px;
                    margin-bottom: .5rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: $primary-color;
                    
                    

                }
                p{
                    font-weight: 300;
                    font-family: Open Sans,sans-serif;
                    font-size: 1.1rem;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    line-height: 1.5rem;
                }
            }
        }
        
    }


            
        
    

}

.contact-me{
    padding-top: 2rem;
    @include sectionHeading;
    display: flex;
    
    

    
}

footer {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $nav-scroll-footer;
    padding: 50px 0;
    color: #fff;

    p{
        text-transform: uppercase;
    
    }

}               